# Python
__pycache__/
*.py[cod]

# Virtual Environments
venv/
env/
.venv/
ENV/

# Django
db.sqlite3
*.sqlite3

# Django Migrations
**/migrations/*.py
!**/migrations/__init__.py

# Static and Media
/staticfiles/
/media/

# Secret files
.env

# IDE and Editor settings
.vscode/
.idea/

# Logs and Caches
*.log
*.pot
*.mo

# OS Specific
.DS_Store
Thumbs.db
ehthumbs.db
Icon?

# Git system
.git/

# Node.js (agar frontend ham bo‘lsa)
node_modules/
npm-debug.log
yarn-error.log
